.token-containter {
 
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: fixed; 
    z-index: 3;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--background-locked);

}

.token-window {

    border-radius: 12px;
    background-color: var(--background);
    width: 566px;
    height: 350px;
    color: var(--color);

}

.token-title {

    width: 80%;
    margin: 25px auto 10px auto;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    height: 120px;

}

.token-msg {

    width: 80%;
    text-align: center;
    margin: 32px auto;
    height: 44px;
    padding: 3px 6px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-weight: 700;
    font-size: 26px;
    background-color: var(--background-content);

}

.proceed-button {

    width: 80%;
    margin: 10px auto;

}