
.bg-mode-lang-toggle,
.lang-toggle {
    border-radius: 100px;
    height: 40px;
}


.bg-mode-lang-toggle {
    position: relative;
    width: 210px;
    background-color: var(--toggle-content);
}

.lang-toggle {

    position: absolute;
    width: 50%;
    background-color: var(--primary);
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

}

.lang-toggle-name {

    position: absolute;
    font-size: 90%;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

.lang-pt-br-name,
.lang-en-us-name {
    color: var(--color);
    cursor: pointer;
    margin: auto;
    width: 35%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
