.body-container {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    width: 100%;
    min-height: 630px;

}

.main-container {

    width: 971px;
    height: 600px;
    background-color: var(--background);
    transition: background-color 0.4s initial;
    color: var(--color);

}

.main-header {
    display: flex;
    justify-content: space-between;
}
