.sign-message-container {

    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: fixed; 
    z-index: 3;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--background-locked);

}

.sign-password-input-box,
.sign-password-button-box,
.action-box,
.sign-box,
.button-box {

    margin: 15px auto 0 auto;
    width: 95%;

}

.sign-password-input-box {

    height: 45%;

}

.action-box {

    text-align: center;
    font-weight: 700;
    font-size: 18px;
    height: 50px;

}
.sign-password-button-box,
.button-box {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.sign-message-window {

    border-radius: 12px;
    background-color: var(--background);
    width: 740px;
    height: 458px;
    color: var(--color);

}
.sign-password-box-title,
.sign-box-title {

    width: 95%;
    text-align: center;
    margin: 15px auto 0 auto;
    font-size: 25px;
    font-weight: 700;

}

.sign-message-title,
.sign-public-key-title,
.sign-signature-title {

    margin: 15px 0 0 0;

}

.sign-message-box {

    display: flex;
    width: 100%;
    height: 80px;

}

.sign-password-input,
.sign-message-input,
.sign-public-key-input,
.sign-signature-input {

    width: 100%;
    text-align: center;
    font-style: italic;

}
.sign-password-cancel-btn,
.sign-password-ok-btn,
.sign-msg-btn,
.sign-verify-btn,
.sign-close-btn {

    width: 180px;

}
.sign-is-hash {

    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 10px 0 0;

}

.sign-message-title {

    display: flex;
    justify-content: space-between;

}

.sub-sign-message {
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.sign-password-box-container {

    display: none;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: fixed; 
    z-index: 4;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--background-locked);

}

.sign-password-box {

    width: 480px;
    height: 297px;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--background);

}
