* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d2830;
  width: 100%;
}
div.dark {
  --background: #1e3c44;
  --background-content: #22434a;
  --color: #e9f6fb;
  --background-hovered: #294b52;
  --primary: #a6df38;
  --toggle-content: #0d2830;
}

div.light {
  --background: #fbfdfc;
  --background-content: #fff;
  --color: #696969;
  --background-hovered: #f5f6f8;
  --primary: #90d50b;
  --toggle-content: #e5e8e5;
}

button {

    height: 40px;
    font-size: 12px;
    font-weight: bold;
    color: var(--color);
    background-color: var(--background-content);/* #17202c; */
    border: solid 1px #c6c9cd;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s ;
    /*opacity: 0.9;*/
  }
  
  button:hover {
  
    transition: 0.3s ease-in-out;
    background-color: var(--background-hovered);
  }
