.file-uploader {

    display: none;

}

.open-encrypted-file-container {

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: coral;

}

.open-encrypted-file-content {

}

