.wallet-container {

    padding: 20px;

}

.wallet-address-container,
.wallet-number-container,
.wallet-public-key-container,
.representative-wallet-container,
.balance-container,
.pending-account-container,
.destination-wallet-container,
.value-to-send-container,
.fee-container {

    display: flex;
    align-items: center;
    padding-bottom: 8px;

}

.wallet-number,
.wallet-number-title,
.wallet-address-title,
.wallet-address,
.wallet-public-key-title,
.wallet-public-key,
.prepresentative-title,
.representative-wallet,
.balance-title,
.balance,
.pending-account-title,
.pending-account,
.destination-wallet-title,
.destination-wallet,
.value-to-send-tite,
.value-to-send,
.fee-title,
.sub-fee-container,
.fee-label-title
{

    font-size: 16px;

}

.wallet-address-title,
.wallet-number-title,
.wallet-public-key-title,
.prepresentative-title,
.balance-title,
.pending-account-title,
.destination-wallet-title,
.value-to-send-tite,
.fee-title,
.fee-label-title,
.fee-checkbox-container {

    margin-right: 10px;
    font-weight: 600;

}

.wallet-number,
.wallet-address,
.wallet-public-key,
.representative-wallet,
.balance,
.pending-account,
.value-to-send,
.sub-fee-container,
.fee-input {

    font-style: italic;
    font-weight: 400;

}

.sub-fee-container {

    display: flex;
    align-items: center;

}
