.wallet-container {
    
    position: relative;
    padding: 20px;

}

.wallet-address-container,
.wallet-number-container,
.wallet-public-key-container,
.representative-wallet-container,
.balance-container,
.pending-account-container,
.destination-wallet-container,
.value-to-send-container,
.fee-container {

    display: flex;
    align-items: center;
    padding-bottom: 20px;
    height: 35px;

}


.wallet-number,
.wallet-number-title,
.wallet-address-title,
.wallet-address,
.wallet-public-key-title,
.wallet-public-key,
.prepresentative-title,
.representative-wallet,
.balance-title,
.balance,
.pending-account-title,
.pending-account,
.destination-wallet-title,
.destination-wallet,
.value-to-send-tite,
.value-to-send,
.fee-title,
.sub-fee-container,
.fee-label-title
{

    font-size: 16px;

}

.wallet-address-title,
.wallet-number-title,
.wallet-public-key-title,
.prepresentative-title,
.balance-title,
.pending-account-title,
.destination-wallet-title,
.value-to-send-tite,
.fee-title,
.fee-label-title,
.fee-checkbox-container {

    margin-right: 10px;
    font-weight: 600;

}

.wallet-number,
.wallet-address,
.wallet-public-key,
.representative-wallet,
.balance,
.pending-account,
.value-to-send,
.sub-fee-container,
.fee-input {

    font-style: italic;
    font-weight: 400;

}

.sub-fee-container {

    display: flex;
    align-items: center;
    
}

.fee-checkbox {

    cursor: pointer;
    height: 16px;
    width: 16px;
    /*background-color: var(--background-color);*/
    background-color: lawngreen;
    color: lightcoral;

}

.fee-checkbox:hover ~ {
    background-color: red;/*var(--background-hovered);*/
}

.qr-code-container {

    position: absolute;
    right: 6%;
    top: 15%;

}

.fee-checkbox-container {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;

}
.button-back-container,
.button-container {

    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;

}

.back-button,
.send-button {

    width: 100%;
    height: 50px;

}

.destination-wallet-input {

    width: 600px;

}

.value-to-send-input {

    width: 300px;

}

.fee-input {

    width: 250px;
    
}

.destination-wallet-input,
.value-to-send-input,
.fee-input {

    height: 28px;
    padding: 3px 6px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: var(--background-content);
    color: var(--color);

}
