.typewriter {
    display: inline-block;
    font-family: 'Courier New', Courier;
}

.typewriter-text {

    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
    animation: typing 5s steps(50, end), blink .5s step-end infinite;
    white-space: nowrap;
    font-size: 24px;
    font-weight: 700;
    border-right: 4px solid var(--primary);
    margin-top: 30px;
    margin-left: 30px;

}

@keyframes typing {

    from {
        width: 0%;
    }
    to {
        width: 100%;
    }

}

@keyframes blink {
    from, to { 
        border-color: transparent;
    }
    50% { 
        border-color: var(--primary); 
    }
}
